 
body{
    background-color: #ffac31;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1 {
      line-height: 200px;
      color: #c26005;
      width: 400px;
      text-decoration: underline dashed;
      font-size: 50px;
      font-family: 'Courgette', cursive;
    }
    
    h2 {
      font-family: 'Nunito', sans-serif;
      color: white;
      text-align: center;
      text-decoration: underline dashed;
      padding: 20px 0 20px 0;
    }
    
    .background {
      background-image: url(../webroot/images/bg-bw.jpg);
      background-position: center;
    }
    
    .container {
      background-image: url(../webroot/images/section-sawadee.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
    }
    
    .carte {
      height: 200px;
    }
    
    ul {
      color: white;
      font-size: 20px;
    }
    
    li {
      font-size: 16px;
      color: white;
      font-family: 'Nunito', sans-serif;
    }
  
    .badge{
      font-weight: bold;
      border: 1px solid white;
      justify-content: right;
      position: absolute;
      right: 10%;
      
    }
    
    .designLi{
      padding-bottom: 15px;
    }
    .titreLi{
      font-weight: bold;
      list-style-type: none;
    }

    @media all and(max-width:320px){
        h1{
            font-size: 30px;
            text-align: center;
        }
        .badge{
            display: none;
        }
    }
   footer{
      background-color: #1f1f1f;
      color: white;
      background-size: cover;
      letter-spacing: 4px;
      line-height: 10px;
  }
  footer a:hover{
      padding:1%;
      text-decoration: none;
      background-color: black;
  }
  .navbar{
    background-color: #1f1f1f;
    font-size: 24px;
    padding-bottom: 1%; 
}